<div class="page-header">
  <h1>Contribute</h1>
</div>

<p>This website can only fulfill its mission if people contribute.</p>

<h1><%= link_to "Add a brand.", "/contribute/brand" %></h1>
<br>
<h1><%= link_to "Add an effect.", "/contribute/effect" %></h1>
<br>
<h1><%= link_to "Add a version.", "/contribute/version" %></h1>
<br>
<h1><%= link_to "Add a variant or clone.", "/contribute/variant" %></h1>
<br>
