<div class="page-header">
  <h1>Every Effect Ever</h1>
</div>
<p>Musicians have always sought out ways to change their sound. Whether through adding tremolo and reverb to an amp, or playing harp through an 'Infinite Jets', people have always found a way to make cool sounds.</p>
<p>As this pursuit has grown to become a multi-billion dollar* global industry, no one has yet succeeded in cataloging all the ways that people have enhanced their playing with effects. <b>This is precisely what we intend to do.</b></p>

<br><br>
<p>* citation needed.</p>
<br><br>
<h1>Effects</h1>
<% @effects.each { |effect|  %>
<%= effect.name + "," %>
<% } %>