<div class="page-header">
  <h1>Variants</h1>
</div>
<p>Variants and clones (two entirely separate things) are as integral to the world of effects as the great originals.</p>
<p>Most people will be familiar with the classic 'clones', for example Electro-Harmonix's 'Soul Food', a replica of the Klon.</p>
<p>Variants are subtely different. Built on top of a classic circuit, but tweaked, they often push forward the industry.</p>
