/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
 font-family: 'Open Sans', sans-serif;
 max-width: 75%;
 margin-left: 2em;
 margin-right: 2em;
}

.page-header {
  /* font-size: 75px; */
  font-size: 500%;
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 0.5em;
  text-decoration-style: solid;
  text-decoration-line: underline;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0.3em;
  padding: 0px;
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-color: rgb(0, 80, 253);
  text-decoration-thickness: 0.2em;
  transition: 0.1s;
}

a:hover {
  text-decoration-thickness: 0.3em;
}

button {
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
  font-size: 100%;
  transition: 0.5s;
}

button:hover {
  background-color: yellow;
  cursor: pointer;
}

th {
  border-top: 1.5px solid black;
}

#site-header {
  width:60%;
}

.button_to {
  display: inline-block;
}

.effect-table {
  /* width: 60%; */
  text-align: left;
  /* border-collapse: separate; */
  /* border-spacing: 0px 20px; */
}

.effect-table h1 {
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 0.2em;
}
